Web References/SendSmsWS/SendSmsWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.telemessersms.co.il/webservice/" xmlns:s1="http://www.telemessersms.co.il/webservice/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.telemessersms.co.il/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.telemessersms.co.il/webservice/">
      <s:element name="IsSmsAllowedInThisSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSmsAllowedInThisScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsSmsAllowedInThisScheduleResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cli" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCellPhoneOperator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CellPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCellPhoneOperatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCellPhoneOperatorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesCreditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessagesID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesDeliveryResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesDeliveryBySendId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InLastXDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesDeliveryBySendIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesDeliveryBySendIdResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRules">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserRulesResult" type="tns:ArrayOfUserRule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserRule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserRule" nillable="true" type="tns:UserRule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserRule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Day" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromHour" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ToHour" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateUserRules">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserRules" type="tns:ArrayOfUserRule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserRulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserRulesResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithDynamicData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PlaceHolders" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="dynamicData" type="tns:ArrayOfDynamicData" />
            <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDynamicData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DynamicData" nillable="true" type="tns:DynamicData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DynamicData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cli" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSmsWithDynamicDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithDynamicDataResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMultiSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfMessage1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessage1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cli" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMultiSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMultiSmsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMultiSmsWithExtRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfMessage1" />
            <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMultiSmsWithExtRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMultiSmsWithExtRefResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithIcons">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithIconsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithIconsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithExtRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithExtRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithExtRefResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithExtRefLight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithExtRefLightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithExtRefLightResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithExtRefLightUnicode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SendId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithExtRefLightUnicodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithExtRefLightUnicodeResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithSumResult" type="tns:ResultWithSum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultWithSum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChargeMessages" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CountMessages" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscribers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsArrayResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="tns:TokenResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TokenResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiredDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSmsWithToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subscriber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryDelayInMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpirationDelayInMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsWithTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsWithTokenResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlacklist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InLastXDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlacklistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlacklistResult" type="tns:BlacklistResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BlacklistResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfBlacklistItems" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBlacklistItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BlacklistItems" nillable="true" type="tns:BlacklistItems" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BlacklistItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cli" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InsertDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Result" nillable="true" type="tns:Result" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfUserRule" nillable="true" type="tns:ArrayOfUserRule" />
      <s:element name="ResultWithSum" nillable="true" type="tns:ResultWithSum" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="TokenResult" nillable="true" type="tns:TokenResult" />
      <s:element name="BlacklistResult" nillable="true" type="tns:BlacklistResult" />
    </s:schema>
    <s:schema targetNamespace="http://www.telemessersms.co.il/webservice/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsSmsAllowedInThisScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:IsSmsAllowedInThisSchedule" />
  </wsdl:message>
  <wsdl:message name="IsSmsAllowedInThisScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:IsSmsAllowedInThisScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="GetCellPhoneOperatorSoapIn">
    <wsdl:part name="parameters" element="tns:GetCellPhoneOperator" />
  </wsdl:message>
  <wsdl:message name="GetCellPhoneOperatorSoapOut">
    <wsdl:part name="parameters" element="tns:GetCellPhoneOperatorResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesCredit" />
  </wsdl:message>
  <wsdl:message name="GetMessagesCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesDelivery" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryBySendIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessagesDeliveryBySendId" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryBySendIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesDeliveryBySendIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserRulesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRules" />
  </wsdl:message>
  <wsdl:message name="GetUserRulesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserRulesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserRulesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserRules" />
  </wsdl:message>
  <wsdl:message name="UpdateUserRulesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserRulesResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithDynamicDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithDynamicData" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithDynamicDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithDynamicDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendMultiSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendMultiSms" />
  </wsdl:message>
  <wsdl:message name="SendMultiSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendMultiSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendMultiSmsWithExtRefSoapIn">
    <wsdl:part name="parameters" element="tns:SendMultiSmsWithExtRef" />
  </wsdl:message>
  <wsdl:message name="SendMultiSmsWithExtRefSoapOut">
    <wsdl:part name="parameters" element="tns:SendMultiSmsWithExtRefResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithIconsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithIcons" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithIconsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithIconsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithExtRef" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithExtRefResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithExtRefLight" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithExtRefLightResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightUnicodeSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithExtRefLightUnicode" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightUnicodeSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithExtRefLightUnicodeResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithSumSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithSum" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithSumSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithSumResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsArraySoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsArray" />
  </wsdl:message>
  <wsdl:message name="SendSmsArraySoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithTokenSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsWithToken" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithTokenSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsWithTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlacklistSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlacklist" />
  </wsdl:message>
  <wsdl:message name="GetBlacklistSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlacklistResponse" />
  </wsdl:message>
  <wsdl:message name="IsSmsAllowedInThisScheduleHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsSmsAllowedInThisScheduleHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetCellPhoneOperatorHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="CellPhone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCellPhoneOperatorHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesCreditHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="MessagesID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryBySendIdHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
    <wsdl:part name="InLastXDays" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryBySendIdHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetUserRulesHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserRulesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserRule" />
  </wsdl:message>
  <wsdl:message name="SendSmsHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithIconsHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithIconsHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightUnicodeHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightUnicodeHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithSumHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithSumHttpGetOut">
    <wsdl:part name="Body" element="tns:ResultWithSum" />
  </wsdl:message>
  <wsdl:message name="GetGroupsHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SendSmsArrayHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s1:StringArray" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsArrayHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:TokenResult" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithTokenHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="Subscriber" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetBlacklistHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="InLastXDays" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBlacklistHttpGetOut">
    <wsdl:part name="Body" element="tns:BlacklistResult" />
  </wsdl:message>
  <wsdl:message name="IsSmsAllowedInThisScheduleHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsSmsAllowedInThisScheduleHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetCellPhoneOperatorHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="CellPhone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCellPhoneOperatorHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesCreditHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="MessagesID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryBySendIdHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
    <wsdl:part name="InLastXDays" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessagesDeliveryBySendIdHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetUserRulesHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserRulesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserRule" />
  </wsdl:message>
  <wsdl:message name="SendSmsHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithIconsHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithIconsHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightUnicodeHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
    <wsdl:part name="SendId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithExtRefLightUnicodeHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithSumHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithSumHttpPostOut">
    <wsdl:part name="Body" element="tns:ResultWithSum" />
  </wsdl:message>
  <wsdl:message name="GetGroupsHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGroupsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SendSmsArrayHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="EncryptPassword" type="s:string" />
    <wsdl:part name="Subscribers" type="s:string" />
    <wsdl:part name="Message" type="s1:StringArray" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsArrayHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:TokenResult" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithTokenHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="Subscriber" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="DeliveryDelayInMinutes" type="s:string" />
    <wsdl:part name="ExpirationDelayInMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsWithTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetBlacklistHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="InLastXDays" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBlacklistHttpPostOut">
    <wsdl:part name="Body" element="tns:BlacklistResult" />
  </wsdl:message>
  <wsdl:portType name="SendSmsWSSoap">
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <wsdl:input message="tns:IsSmsAllowedInThisScheduleSoapIn" />
      <wsdl:output message="tns:IsSmsAllowedInThisScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <wsdl:input message="tns:GetCellPhoneOperatorSoapIn" />
      <wsdl:output message="tns:GetCellPhoneOperatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <wsdl:input message="tns:GetMessagesCreditSoapIn" />
      <wsdl:output message="tns:GetMessagesCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <wsdl:input message="tns:GetMessagesDeliverySoapIn" />
      <wsdl:output message="tns:GetMessagesDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <wsdl:input message="tns:GetMessagesDeliveryBySendIdSoapIn" />
      <wsdl:output message="tns:GetMessagesDeliveryBySendIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <wsdl:input message="tns:GetUserRulesSoapIn" />
      <wsdl:output message="tns:GetUserRulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRules">
      <wsdl:input message="tns:UpdateUserRulesSoapIn" />
      <wsdl:output message="tns:UpdateUserRulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithDynamicData">
      <wsdl:input message="tns:SendSmsWithDynamicDataSoapIn" />
      <wsdl:output message="tns:SendSmsWithDynamicDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMultiSms">
      <wsdl:input message="tns:SendMultiSmsSoapIn" />
      <wsdl:output message="tns:SendMultiSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMultiSmsWithExtRef">
      <wsdl:input message="tns:SendMultiSmsWithExtRefSoapIn" />
      <wsdl:output message="tns:SendMultiSmsWithExtRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <wsdl:input message="tns:SendSmsWithIconsSoapIn" />
      <wsdl:output message="tns:SendSmsWithIconsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <wsdl:input message="tns:SendSmsWithExtRefSoapIn" />
      <wsdl:output message="tns:SendSmsWithExtRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <wsdl:input message="tns:SendSmsWithExtRefLightSoapIn" />
      <wsdl:output message="tns:SendSmsWithExtRefLightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <wsdl:input message="tns:SendSmsWithExtRefLightUnicodeSoapIn" />
      <wsdl:output message="tns:SendSmsWithExtRefLightUnicodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <wsdl:input message="tns:SendSmsWithSumSoapIn" />
      <wsdl:output message="tns:SendSmsWithSumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input message="tns:GetGroupsSoapIn" />
      <wsdl:output message="tns:GetGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <wsdl:input message="tns:SendSmsArraySoapIn" />
      <wsdl:output message="tns:SendSmsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <wsdl:input message="tns:SendSmsWithTokenSoapIn" />
      <wsdl:output message="tns:SendSmsWithTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <wsdl:input message="tns:GetBlacklistSoapIn" />
      <wsdl:output message="tns:GetBlacklistSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendSmsWSHttpGet">
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <wsdl:input message="tns:IsSmsAllowedInThisScheduleHttpGetIn" />
      <wsdl:output message="tns:IsSmsAllowedInThisScheduleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <wsdl:input message="tns:GetCellPhoneOperatorHttpGetIn" />
      <wsdl:output message="tns:GetCellPhoneOperatorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <wsdl:input message="tns:GetMessagesCreditHttpGetIn" />
      <wsdl:output message="tns:GetMessagesCreditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <wsdl:input message="tns:GetMessagesDeliveryHttpGetIn" />
      <wsdl:output message="tns:GetMessagesDeliveryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <wsdl:input message="tns:GetMessagesDeliveryBySendIdHttpGetIn" />
      <wsdl:output message="tns:GetMessagesDeliveryBySendIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <wsdl:input message="tns:GetUserRulesHttpGetIn" />
      <wsdl:output message="tns:GetUserRulesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsHttpGetIn" />
      <wsdl:output message="tns:SendSmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <wsdl:input message="tns:SendSmsWithIconsHttpGetIn" />
      <wsdl:output message="tns:SendSmsWithIconsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <wsdl:input message="tns:SendSmsWithExtRefHttpGetIn" />
      <wsdl:output message="tns:SendSmsWithExtRefHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <wsdl:input message="tns:SendSmsWithExtRefLightHttpGetIn" />
      <wsdl:output message="tns:SendSmsWithExtRefLightHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <wsdl:input message="tns:SendSmsWithExtRefLightUnicodeHttpGetIn" />
      <wsdl:output message="tns:SendSmsWithExtRefLightUnicodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <wsdl:input message="tns:SendSmsWithSumHttpGetIn" />
      <wsdl:output message="tns:SendSmsWithSumHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input message="tns:GetGroupsHttpGetIn" />
      <wsdl:output message="tns:GetGroupsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <wsdl:input message="tns:SendSmsArrayHttpGetIn" />
      <wsdl:output message="tns:SendSmsArrayHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenHttpGetIn" />
      <wsdl:output message="tns:GetTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <wsdl:input message="tns:SendSmsWithTokenHttpGetIn" />
      <wsdl:output message="tns:SendSmsWithTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <wsdl:input message="tns:GetBlacklistHttpGetIn" />
      <wsdl:output message="tns:GetBlacklistHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendSmsWSHttpPost">
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <wsdl:input message="tns:IsSmsAllowedInThisScheduleHttpPostIn" />
      <wsdl:output message="tns:IsSmsAllowedInThisScheduleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <wsdl:input message="tns:GetCellPhoneOperatorHttpPostIn" />
      <wsdl:output message="tns:GetCellPhoneOperatorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <wsdl:input message="tns:GetMessagesCreditHttpPostIn" />
      <wsdl:output message="tns:GetMessagesCreditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <wsdl:input message="tns:GetMessagesDeliveryHttpPostIn" />
      <wsdl:output message="tns:GetMessagesDeliveryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <wsdl:input message="tns:GetMessagesDeliveryBySendIdHttpPostIn" />
      <wsdl:output message="tns:GetMessagesDeliveryBySendIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <wsdl:input message="tns:GetUserRulesHttpPostIn" />
      <wsdl:output message="tns:GetUserRulesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsHttpPostIn" />
      <wsdl:output message="tns:SendSmsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <wsdl:input message="tns:SendSmsWithIconsHttpPostIn" />
      <wsdl:output message="tns:SendSmsWithIconsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <wsdl:input message="tns:SendSmsWithExtRefHttpPostIn" />
      <wsdl:output message="tns:SendSmsWithExtRefHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <wsdl:input message="tns:SendSmsWithExtRefLightHttpPostIn" />
      <wsdl:output message="tns:SendSmsWithExtRefLightHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <wsdl:input message="tns:SendSmsWithExtRefLightUnicodeHttpPostIn" />
      <wsdl:output message="tns:SendSmsWithExtRefLightUnicodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <wsdl:input message="tns:SendSmsWithSumHttpPostIn" />
      <wsdl:output message="tns:SendSmsWithSumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input message="tns:GetGroupsHttpPostIn" />
      <wsdl:output message="tns:GetGroupsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <wsdl:input message="tns:SendSmsArrayHttpPostIn" />
      <wsdl:output message="tns:SendSmsArrayHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenHttpPostIn" />
      <wsdl:output message="tns:GetTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <wsdl:input message="tns:SendSmsWithTokenHttpPostIn" />
      <wsdl:output message="tns:SendSmsWithTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <wsdl:input message="tns:GetBlacklistHttpPostIn" />
      <wsdl:output message="tns:GetBlacklistHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSmsWSSoap" type="tns:SendSmsWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/IsSmsAllowedInThisSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetCellPhoneOperator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetMessagesCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetMessagesDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetMessagesDeliveryBySendId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetUserRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRules">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/UpdateUserRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithDynamicData">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithDynamicData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMultiSms">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendMultiSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMultiSmsWithExtRef">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendMultiSmsWithExtRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithIcons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithExtRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithExtRefLight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithExtRefLightUnicode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <soap:operation soapAction="http://www.telemessersms.co.il/webservice/GetBlacklist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSmsWSSoap12" type="tns:SendSmsWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/IsSmsAllowedInThisSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetCellPhoneOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetMessagesCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetMessagesDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetMessagesDeliveryBySendId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetUserRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRules">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/UpdateUserRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithDynamicData">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithDynamicData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMultiSms">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendMultiSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMultiSmsWithExtRef">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendMultiSmsWithExtRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithIcons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithExtRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithExtRefLight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithExtRefLightUnicode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/SendSmsWithToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <soap12:operation soapAction="http://www.telemessersms.co.il/webservice/GetBlacklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSmsWSHttpGet" type="tns:SendSmsWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <http:operation location="/IsSmsAllowedInThisSchedule" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <http:operation location="/GetCellPhoneOperator" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <http:operation location="/GetMessagesCredit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <http:operation location="/GetMessagesDelivery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <http:operation location="/GetMessagesDeliveryBySendId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <http:operation location="/GetUserRules" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <http:operation location="/SendSms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <http:operation location="/SendSmsWithIcons" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <http:operation location="/SendSmsWithExtRef" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <http:operation location="/SendSmsWithExtRefLight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <http:operation location="/SendSmsWithExtRefLightUnicode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <http:operation location="/SendSmsWithSum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <http:operation location="/GetGroups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <http:operation location="/SendSmsArray" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <http:operation location="/GetToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <http:operation location="/SendSmsWithToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <http:operation location="/GetBlacklist" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSmsWSHttpPost" type="tns:SendSmsWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="IsSmsAllowedInThisSchedule">
      <http:operation location="/IsSmsAllowedInThisSchedule" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCellPhoneOperator">
      <http:operation location="/GetCellPhoneOperator" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesCredit">
      <http:operation location="/GetMessagesCredit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDelivery">
      <http:operation location="/GetMessagesDelivery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesDeliveryBySendId">
      <http:operation location="/GetMessagesDeliveryBySendId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRules">
      <http:operation location="/GetUserRules" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <http:operation location="/SendSms" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithIcons">
      <http:operation location="/SendSmsWithIcons" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRef">
      <http:operation location="/SendSmsWithExtRef" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLight">
      <http:operation location="/SendSmsWithExtRefLight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithExtRefLightUnicode">
      <http:operation location="/SendSmsWithExtRefLightUnicode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithSum">
      <http:operation location="/SendSmsWithSum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <http:operation location="/GetGroups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsArray">
      <http:operation location="/SendSmsArray" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <http:operation location="/GetToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithToken">
      <http:operation location="/SendSmsWithToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlacklist">
      <http:operation location="/GetBlacklist" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSmsWS">
    <wsdl:port name="SendSmsWSSoap" binding="tns:SendSmsWSSoap">
      <soap:address location="http://www.simplesms.co.il/webservice/sendsmsws.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSmsWSSoap12" binding="tns:SendSmsWSSoap12">
      <soap12:address location="http://www.simplesms.co.il/webservice/sendsmsws.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSmsWSHttpGet" binding="tns:SendSmsWSHttpGet">
      <http:address location="http://www.simplesms.co.il/webservice/sendsmsws.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSmsWSHttpPost" binding="tns:SendSmsWSHttpPost">
      <http:address location="http://www.simplesms.co.il/webservice/sendsmsws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>